<nav class="sectionNav hide-on-med-and-down">
	<ul id="nav-mobile" class="side-nav fixed">
		<li class="item-supervision-introduction"><a href="/supervision/introduction.html" class="supervisionIntroduction">Introduction</a></li>
		<li class="item-supervision-live"><a href="/supervision/live.html" class="supervisionLive">Live</a></li>
		<li class="item-supervision-history"><a href="/supervision/history.html" class="supervisionHistory">Historique</a></li>
		<li class="item-supervision-providers"><a href="/supervision/providers.html" class="supervisionProviders">Terminaux</a></li>
		<li class="item-supervision-dailystoptimes"><a href="/supervision/dailystoptimes.html" class="supervisionDailystoptimes">Temps de passage</a></li>
		<li class="item-supervision-lines"><a href="/supervision/lines.html" class="supervisionLines">Lignes</a></li>
		<li class="item-supervision-messages"><a href="/supervision/messages.html" class="supervisionMessages">Messages</a></li>
		<!--<li class="item-supervision-timeline"><a href="/supervision/timeline.html" class="supervisionTimeline">Option : Timeline</a></li>-->
		<li class="item-supervision-count"><a href="/supervision/count.html" class="supervisionCount">Comptage</a></li>
		<!--<li class="item-supervision-tad"><a href="/supervision/tad.html" class="supervisionTad">Option : TAD</a></li>-->
	</ul>
</nav>